*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/compiler.xml
/.idea/misc.xml
/.idea/copyright
/.idea/dictionaries
/.idea/gradle.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
.DS_Store
/build
/captures
/gradle.properties
/.externalNativeBuild
/gradlew
/gradlew.bat
/